*.pdf
*.png
*.asv
*.csv
*.mat

# Ignore all MATLAB files by default
*.mat

# Allow model_results tree
!model_results/
!model_results/**/

# Allow summary fitting results anywhere under model_results
!model_results/**/fitting_results_*.mat

!datasets/
!datasets/**/

*.pdf
*.eps
*.png
*.txt
.DS_Store
**.DS_Store