*.pdf
*.png
*.asv
*.csv
*.mat

# Ignore all MATLAB files by default
*.mat

# Allow small summary results
!model_results/
!model_results/fitting_results_*.mat

*.pdf
*.eps
*.png
*.txt
.DS_Store
**.DS_Store